In [1]:
#JSON exercise
#1. Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
#2. Find the 10 countries with most projects
#3. Find the top 10 major project themes (using column 'mjtheme_namecode')
#In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
# import the related package

In [3]:
import pandas as pd
import numpy as np
from io import StringIO

In [4]:
import json
from pandas.io.json import json_normalize

In [5]:
# read the projects as dataframework (df)
sample_json_df = pd.read_json('data/world_bank_projects.json',)

In [6]:
# Solution to Q1: sort the projects by country name, and count the top 10
projects = sample_json_df[['countryshortname']]
projects.countryshortname.value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Nepal                 12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [7]:
# open the data as string
with open('data/world_bank_projects.json')as f:
    raw=json.load(f)

In [8]:
# Use the normalize function 
df_themes=json_normalize(raw,'mjtheme_namecode',['id'])

In [9]:
#group the data by their id
df_themes.groupby('id').code.nunique().sort_values(ascending=False).head(10)

id
P121152    5
P129652    4
P130749    4
P128284    4
P128573    4
P128891    4
P129688    4
P130174    4
P130459    4
P130471    4
Name: code, dtype: int64

In [10]:
# solution to Q2: sort the top 10 themes
df_themes.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [11]:
df_themes.groupby(['code', 'name']).size()

code  name
1                                                       5
      Economic management                              33
10                                                     14
      Rural development                               202
11                                                     27
      Environment and natural resources management    223
2                                                      15
      Public sector governance                        184
3                                                       3
      Rule of law                                      12
4                                                      16
      Financial and private sector development        130
5                                                       5
      Trade and integration                            72
6                                                      10
      Social protection and risk management           158
7                                                      11
      Social dev/gender/inclusion                     119
8                                                      13
      Human development                               197
9                                                       3
      Urban development                                47
dtype: int64

In [12]:
# Updating missing 'name' column in 'df_themes' dataframe based on 'code' column

df_themes.loc[df_themes.code == '1', 'name'] = 'Economic Management'
df_themes.loc[df_themes.code == '2', 'name'] = 'Public sector governance'
df_themes.loc[df_themes.code == '3', 'name'] = 'Rule of law'
df_themes.loc[df_themes.code == '4', 'name'] = 'Financial and private sector development'
df_themes.loc[df_themes.code == '5', 'name'] = 'Trade and integration'
df_themes.loc[df_themes.code == '6', 'name'] = 'Social protection and risk management'
df_themes.loc[df_themes.code == '7', 'name'] = 'Social dev/gender/inclusion'
df_themes.loc[df_themes.code == '8', 'name'] = 'Human development'
df_themes.loc[df_themes.code == '9', 'name'] = 'Urban development'
df_themes.loc[df_themes.code == '10', 'name'] = 'Rural development'
df_themes.loc[df_themes.code == '11', 'name'] = 'Environment and natural resources management'

In [13]:
df_themes.head(10)

  code                                          name       id
0    8                             Human development  P129828
1   11  Environment and natural resources management  P129828
2    1                           Economic Management  P144674
3    6         Social protection and risk management  P144674
4    5                         Trade and integration  P145310
5    2                      Public sector governance  P145310
6   11  Environment and natural resources management  P145310
7    6         Social protection and risk management  P145310
8    7                   Social dev/gender/inclusion  P144665
9    7                   Social dev/gender/inclusion  P144665

In [14]:
#Solution to Q3
df_themes.name.value_counts().head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic Management                              38
Name: name, dtype: int64